
/* 
    style.css
    Global Styles 
*/

body {
  margin : 0;
  padding : 0;
  min-width: 270px;
}

/*
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
*/

.navbar {
  margin: 0 auto;
  width: 75%;
}

.navbar-brand {
  padding-left: 4em;
}

.navbar-brand img {
  margin-left: .5em;
  margin-right: .5em;
  margin-top: -.25em;
}

.navbar-toggle {
  margin-right: 2em;
}

.navbar-right {
  padding: .5em;
  margin-right: .5em;
}

.navbar-right button {
  float: right;
  margin-right: 2em;
}

h1,
p {
  font-family: sans-serif;
  color: green;
}

.title {
  margin-top: 2em;
  margin-bottom: 2em;
}

#btn-signin {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .5em .75em;
  font-size: 1.5em;
}

#btn-search-road {
  margin-top: 1em;
}

.road-manager-option {
    width: 20%; 
    margin-bottom: .5em;
}

/* Styles for small displays such as mobile */
@media(max-width:767px){
  .navbar {
    width: 100%;
  }
  .navbar-brand {
    padding-left: 1em;
  }
  .navbar-right button {
    margin-right: 0;
  }
  #btn-signin {
      margin-bottom: 0;
      padding: .5em .5em;    
      font-size: 1.2em;
  }
  .road-manager-option {
    width: 180px;
  }
}


/* EOF */

