/* ==========================================================================
		css/main.css
		Global styles
   ========================================================================== */

body {
	background-color: paleturquoise;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
	border: 2px solid grey;
	border-radius: 5px;
	padding: 1em;
}
li {
	display: inline-block;
	padding: 0.5em;
}
li:hover {
	cursor: pointer;
}

img {
	height: 100px;
}
figcaption {
	text-align: center;
}
