<!DOCTYPE html>

<div id="loginbox" class="mainbox col-md-12">
	
	<!-- Login modal -->
	<div class="panel panel-info">
		
		<!-- Login modal heading -->
		<div class="panel-heading">
			<div class="panel-title"><strong>LOGIN TO TRACKR</strong></div>
			<!--
			<div
				style="float: right; font-size: 80%; position: relative; top: -10px">
				<a href="#">forgot password?</a>
			</div>
			-->
		</div>
		
		<!-- Login modal body -->
		<div style="padding-top: 1em" class="panel-body">

			<form 
				name="loginForm" 
				class="form-horizontal" 
				method="post"
				ng-submit="submit()" 
				novalidate form-autofill-fix
			>
				<table class="table" width="100%">
					<tr>
						<td><p><br>user: inspector<br> password: inspector</p></td>
						<td><p><br>user: contractor<br> password: contractor</p></td>
						<td><p><br>user: manager<br> password: manager</p></td>
					</tr>
				</table>

				<!-- Username form input -->
				<div style="margin-top: 1em; margin-left: 5vw; margin-right: 5vw" class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
					<input 
						type="text"
						class="form-control" name="username"
						ng-model="credentials.username" placeholder="Username" required />
				</div>
				<div style="margin-top: .5em; margin-left: 10vw;" class="error"
					ng-show="(submitted  || loginForm.username.$dirty)  && loginForm.username.$invalid">
					<p class="error" ng-show="loginForm.username.$error.required" style="color: red">'Username' is mandatory</p>
				</div>

				<!-- Password form input -->
				<div style="margin-top: 1em; margin-left: 5vw; margin-right: 5vw" class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
					<input 
						type="password" 
						class="form-control" name="password"
						ng-model="credentials.password" placeholder="Password" required />
				</div>
				<div style="margin-top: .5em; margin-left: 10vw;" class="error"
					ng-show="(submitted  || loginForm.password.$dirty)  && loginForm.password.$invalid">
					<p class="error" ng-show="loginForm.password.$error.required" style="color: red">'Password' is mandatory</p>
				</div>

				<div style="margin-top: 2em" class="form-group">
					<!-- Submit Button -->
					<div class="col-sm-12 controls">
						<input
							style="float: right; margin-right: 5vw" 
							type="submit" id="btn-login" class="btn btn-success" value="LOGIN" />
					</div>
				</div>
				<!--
				<p ng-show="error" class="error">
                    The password you entered is incorrect.
                    Please try again (make sure your caps lock is off).
                </p>
				-->
			</form>
		</div>
	</div>
</div>


<!-- EOF -->

