<!DOCTYPE html>

<!-- update road modal -->
<div class="mainbox col-md-12">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>UPDATE ROAD DATA</strong></h3>
		</div>

		<div style="padding-top: 1em" class="panel-body">
			<form
				name="updateRoadForm"
				class="form-horizontal"
				method="post"
				ng-submit="submit()"
				novalidate
				form-autofill-fix
			>
				<!-- road id form input -->
				<div style="margin-top: 1em; margin-left: 5vw; margin-right: 5vw" class="input-group">
					<span class="input-group-addon" id="basic-addon1">ID: </span>
					<input
						type="text"
						class="form-control"
						placeholder="{{ road.ID }}"
						name="id"
						ng-model="data.id"
						aria-describedby="basic-addon1"
						readonly
					/>
				</div>

				<!-- road code form input -->
				<div style="margin-top: 1em; margin-left: 5vw; margin-right: 5vw" class="input-group">
					<span class="input-group-addon" id="basic-addon2">Code: </span>
					<input
						type="text"
						class="form-control"
						placeholder="{{ road.Code }}"
						name="code"
						ng-model="data.code"
						aria-describedby="basic-addon2"
						required
					/>
				</div>
				<div
					style="margin-top: .5em; margin-left: 10vw;"
					class="error"
					ng-show="(submitted || updateRoadForm.code.$dirty) && updateRoadForm.code.$invalid"
				>
					<p class="error" ng-show="updateRoadForm.code.$error.required" style="color: red">
						'Code' is mandatory
					</p>
				</div>

				<!-- road type form input -->
				<div style="margin-top: 1em; margin-left: 5vw; margin-right: 5vw" class="input-group">
					<span class="input-group-addon" id="basic-addon3">Type: </span>
					<input
						type="text"
						class="form-control"
						placeholder="{{ road.Type }}"
						name="type"
						ng-model="data.type"
						aria-describedby="basic-addon3"
						required
					/>
				</div>
				<div
					style="margin-top: .5em; margin-left: 10vw;"
					class="error"
					ng-show="(submitted || updateRoadForm.type.$dirty) && updateRoadForm.type.$invalid"
				>
					<p class="error" ng-show="updateRoadForm.type.$error.required" style="color: red">
						'Type' is mandatory
					</p>
				</div>

				<!-- road section form input -->
				<div style="margin-top: 1em; margin-left: 5vw; margin-right: 5vw" class="input-group">
					<span class="input-group-addon" id="basic-addon4">Section: </span>
					<input
						type="text"
						class="form-control"
						placeholder="{{ road.Section }}"
						name="section"
						ng-model="data.section"
						aria-describedby="basic-addon4"
						required
					/>
				</div>
				<div
					style="margin-top: .5em; margin-left: 10vw;"
					class="error"
					ng-show="(submitted || updateRoadForm.section.$dirty) && updateRoadForm.section.$invalid"
				>
					<p class="error" ng-show="updateRoadForm.section.$error.required" style="color: red">
						'Section' is mandatory
					</p>
				</div>

				<!-- road location form input -->
				<div style="margin-top: 1em; margin-left: 5vw; margin-right: 5vw" class="input-group">
					<span class="input-group-addon" id="basic-addon5">Location: </span>
					<input
						type="text"
						class="form-control"
						placeholder="{{ road.Location }}"
						name="location"
						ng-model="data.location"
						aria-describedby="basic-addon5"
						required
					/>
				</div>
				<div
					style="margin-top: .5em; margin-left: 10vw;"
					class="error"
					ng-show="(submitted || updateRoadForm.location.$dirty) && updateRoadForm.location.$invalid"
				>
					<p class="error" ng-show="updateRoadForm.location.$error.required" style="color: red">
						'Location' is mandatory
					</p>
				</div>

				<!-- road gps form input -->
				<div style="margin-top: 1em; margin-left: 5vw; margin-right: 5vw" class="input-group">
					<span class="input-group-addon" id="basic-addon6">GPS: </span>
					<input
						type="text"
						class="form-control"
						placeholder="{{ road.GPS }}"
						name="gps"
						ng-model="data.gps"
						aria-describedby="basic-addon6"
						required
					/>
				</div>
				<div
					style="margin-top: .5em; margin-left: 10vw;"
					class="error"
					ng-show="(submitted || updateRoadForm.gps.$dirty) && updateRoadForm.gps.$invalid"
				>
					<p class="error" ng-show="updateRoadForm.gps.$error.required" style="color: red">
						'GPS' is mandatory
					</p>
				</div>

				<div style="margin-top: 2em" class="form-group">
					<!-- Submit Button -->
					<div class="col-sm-12 controls">
						<!--
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
                    -->
						<input
							style="float: right; margin-right: 5vw"
							type="submit"
							class="btn btn-success"
							value="SUBMIT"
						/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- EOF -->
