
/* 
    app/style.css  
    global styles 
*/

* {
    margin: 0;
    padding: 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

h1,
p {
    font-family: sans-serif;
}

.title {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.title h1 {
    color: green;
}

.content {
    text-align: center;
    padding-top: 10vh;
}

#btn-signin {
    margin-top: 10vh;
    margin-bottom: 8vh;
    padding: 0.5em 1.5em;
    font-size: 1.7em;
}

@media(max-width:767px){
    .title {
        padding-top: 2vh;
    }
    .content {
        padding-top: 8vh;
    }
    #btn-signin {
        margin-top: 8vh;
        padding: 1em 1em;    
        font-size: 1.2em;
    }
}


/* EOF */

