
/* 
    style.css
    Global Styles 
*/

body {
  margin : 0;
  padding : 0;
}

/*
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
*/

.navbar-brand {
  padding-left: 6vw;
  margin-left: 2vw;
}

.navbar-toggle {
  margin-right: 8vw;
}

.navbar-right {
  padding: .5em;
  margin-right: .5em;
}

h1,
p {
  font-family: sans-serif;
  color: green;
}

.title {
  text-align: center;
  padding-top: -8vh;
  padding-bottom: 4vh;
}

.content {
  text-align: center;
  padding-top: 4vh;
}

#btn-signin {
  margin-top: 4vh;
  margin-bottom: 2vh;
  padding: .5em .75em;
  font-size: 1.5em;
}

@media(max-width:767px){
  .title {
      padding-top: -4vh;
  }
  .content {
      padding-top: 4vh;
  }
  #btn-signin {
      margin-top: 4vh;
      margin-bottom: 4vh;
      padding: .5em .5em;    
      font-size: 1.2em;
  }
}


/* EOF */

